<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="/static/img/apple-icon.png">
	<link rel="icon" type="image/png" href="/static/img/favicon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>smart</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

	<!--     Fonts and icons     -->
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">

	<!-- CSS Files -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/static/css/gsdk-bootstrap-wizard.css" rel="stylesheet" />

	<!-- CSS Just for demo purpose, don't include it in your project -->
	<link href="/static/css/demo.css" rel="stylesheet" />

</head>

<body>
<div class="image-container set-full-height" style="background-image: url('/static/img/wizard-city.jpg')">
    <!--   Creative Tim Branding   -->
  

    <!--   Big container   -->
    <div class="container">
        <div class="row">
        <div class="col-sm-8 col-sm-offset-2">

            <!--      Wizard container        -->
            <div class="wizard-container">
                <div class="card wizard-card" data-color="green" id="wizard">
                <form action="{% url 'activity' %}" method="post">
                <!--        You can switch ' data-color="green" '  with one of the next bright colors: "blue", "green", "orange", "red"          -->

                    	<div class="wizard-header">
                        	<h3>
                        	   <b>创建</b>你的活动<br>
                        	   <small>填写一些基本信息来创建你的活动.</small>
                        	</h3>
                    	</div>
						<div class="wizard-navigation">
							<ul>
	                            <li><a href="#location" data-toggle="tab">基本信息</a></li>
	                            
	                            <li><a href="#description" data-toggle="tab">描述</a></li>
	                        </ul>
						</div>

                        <div class="tab-content">
                            <div class="tab-pane" id="location">
                              <div class="row">
                                  <div class="col-sm-12">
                                    <h4 class="info-text"> 让我们开始填写！</h4>
                                  </div>
                                  <div class="col-sm-5 col-sm-offset-1">
                                      <div class="form-group">
                                        <label>活动名称</label>
                                        <input required name="name" type="text" class="form-control" id="exampleInputEmail1" placeholder="填写活动名称">
                                      </div>
                                  </div>
                                  <div class="col-sm-5">
                                       <div class="form-group">
                                            <label>活动类型</label><br>
                                             <select required name="type" class="form-control">
                                                <option disabled="" selected="">- 类型 -</option>
                                                <option value="会议">会议 </option>
                                                <option value="宣传">宣传 </option>
                                                <option value="晚会"> 晚会 </option>
                                                <option value="讲座"> 讲座 </option>
                                                <option value="...">...</option>
                                            </select>
                                          </div>
                                  </div>
                                  <div class="col-sm-5 col-sm-offset-1">
                                      <div class="form-group">
                                  <label>活动地点</label>
                                        <input required name="place" type="text" class="form-control" id="location" placeholder="填写活动地点">
                                      </div>
                                  </div>

                                  <div class="col-sm-5 col-sm-offset-1">
                                      <div class="form-group">
                                  <label>活动时间</label>
                                        <input required name="times" type="date" class="form-control" id="location" placeholder="填写活动时间">
                                      </div>
                                  </div>



                                  <div class="col-sm-5">
                                      <div class="form-group">
                                          <label>活动人数</label>
                                          <div class="input-group">
                                              <input required name="person" type="text" class="form-control" placeholder="输入人数">
                                              <span class="input-group-addon">人</span>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                            </div>
                       
               
                            <div class="tab-pane" id="description">
                                <div class="row">
                                    <h4 class="info-text"> 填写一些描述. </h4>
                                    <div class="col-sm-6 col-sm-offset-1">
                                         <div class="form-group">
                                            <label>描述</label>
                                            <textarea required name="detail" class="form-control" placeholder="" rows="9">

                                            </textarea>
                                          </div>
                                    </div>
                                    <div class="col-sm-4">
                                         <div class="form-group">
                                            <label>例如：</label>
                                            <p class="description">"这个活动的大概内容等。"</p>
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wizard-footer">
                            	<div class="pull-right">
                                    <input type="hidden" name="user_id" id="user_id" value="{{ user_id }}">
                                    <input type='button' class='btn btn-next btn-fill btn-success btn-wd btn-sm' name='next' value='下一条' />
                                    <input type='submit' class='btn btn-finish btn-fill btn-success btn-wd btn-sm' value='提交' />

                                </div>
                                <div class="pull-left">
                                    <input type='button' class='btn btn-previous btn-fill btn-default btn-wd btn-sm' name='previous' value='前一条' />
                                </div>
                                <div class="clearfix"></div>
                        </div>

                    </form>
                </div>
            </div> <!-- wizard container -->
        </div>
        </div> <!-- row -->
    </div> <!--  big container -->

    <div class="footer">
        <div class="container">
             <i class="fa fa-heart heart"></i>  <a href="#">Smart·School</a>.
        </div>
    </div>
</div>

</body>

	<!--   Core JS Files   -->
	<script src="/static/js/jquery-2.2.4.min.js" type="text/javascript"></script>
	<script src="/static/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="/static/js/jquery.bootstrap.wizard.js" type="text/javascript"></script>

	<!--  Plugin for the Wizard -->
	<script src="/static/js/gsdk-bootstrap-wizard.js"></script>

	<!--  More information about jquery.validate here: http://jqueryvalidation.org/	 -->
	<script src="/static/js/jquery.validate.min.js"></script>

</html>

